@{
    Layout = "";
}
@model MakeIT.Nop.Plugin.Shipping.Bpost.ShippingManager.Models.BpostShippingManagerModel
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AccountId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AccountId)
                @Html.ValidationMessageFor(model => model.AccountId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PassPhrase):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PassPhrase)
                @Html.ValidationMessageFor(model => model.PassPhrase)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ButtonCssClass):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ButtonCssClass)
                @Html.ValidationMessageFor(model => model.ButtonCssClass)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
}